<!DOCTYPE html>
<html>
<head>
	<title>www.education.com</title>
	<style>
		.navigation{
			height: 150px;
			width: 100%;
			background-color: yellow;
			margin-bottom: 20px;
		}
		ul{
			list-style-type: none;
			overflow: hidden;
			border: 1px solid black;
			background-color: green;
		}
		li{
			float: left;
		}
		li a {
		  display: block;
		  color:lightblue;
		  font-size: 20px;
		  text-align: center;
		  padding: 15px 15px;
		  text-decoration: none;
		}
		li a:hover:not(.active) {
  			background-color: black;
		}
		li a.active{
			color: white;
			background-color: purple;
		}
		.runDiv{
			height: 500px;
			width: 90%;
			background-color: skyblue;
			padding: 15px;
		}
		img{
			border: 1px solid #ddd;
			border-radius: 70px;
			padding: 5px;
			margin-bottom: 5px;
		}
		.container1{
			height: 300px;
			width: 60%;
			background-color: skyblue;
			align-content: center;
			border: slateblue;
			margin-top: 25%;
			margin-left: 20%;
			padding: 10px;
			font-size: 12px;
			
		}
		.container2{
			height: 350px;
			width: 100%;
			background-color: black;
		}
	</style>
</head>
<body bgcolor="#798020">
	<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR90pdy9GYa6giEI5UZou5FMvGYszt25EKSHEdZhLvBzH_CewOB&usqp=CAU" alt="Paris" style="width:70px">	
	<ul>
		<li><a class="active" href="/home">Home</a></li>
		<li><a href="/post_blog">Post Blog</a></li>
		<li><a href="/all_get">Get_userBlog</a></li>
		<li><a href="/#">Bussiness</a></li>
		<li><a href="/#">Technology</a></li>
	</ul>
	<% for (let i of data) { %>
	<center><div class="runDiv">
		<h2> <%= i.title %> </h2>
		<p> <%= i.description %> </p>
		<p> <%= i.name %>  <%= i.professional %> </p>
		<p> <%= i.email %> </p>

	</center></div>
	<% } %>

	<div class="container1">
		<center><h1>Get unlimited access.</h1></center>
		<pre>
	You've read all of your free stories this month. Become a member to keep reading.
	Upgrade
	You’re seeing this because you’ve read your limit of free stories this month. 
	We know, paywalls can get in the way. But by charging a small fee for memberships, 
	we’re able to create a better way to read online — one built for you, not advertisers.
	
	When you upgrade to Medium membership, you’ll get unlimited access to our entire ad-free
	library of unique content. You’ll also directly support the writers, thinkers, 
	and creators who call Medium home.
	
	Each month, as you read stories, part of your membership fee will go to their authors. 
	We do this because we, like you, believe in rewarding stories that matter. 
	The more quality content you read, the more quality creators are rewarded, 
	the more quality stories they can continue to produce.
	
	And you make that possible.
	
	Join us, and discover more ideas that can change the way you think, live, and work.</pre>
	</div>
	<div class="container2">
		<center><h2>button tamplates</h2></center>
	</div>
</body>
</html>